@charset "utf-8";
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,table,th,td{margin:0;padding:0}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font:12px/18px "SimSun",Arial,Helvetica,sans-serif;background:#fff}
input,select,button,textarea{vertical-align:middle;font-size:12px;outline:none}
ol,ul{list-style:none}img{border:0}em{font-style:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:none}
a{outline:none;text-decoration:none;color:#999999}
a:hover{text-decoration:none;color:#608099}
.minibox{min-width:1000px;overflow:hidden}
.videocomment{overflow:hidden}
.none{display:none}
.clearfix{*zoom:1}
.clearfix:after{content:" ";overflow:hidden;clear:both;display:block;height:0}

body{min-width:1000px;width:100%;font-family:"Microsoft YaHei","SimSun",Arial,Helvetica,sans-serif; font-size: 13px;}
