.w1180{ width: 1180px; margin:0 auto;}
.fl{ float: left;}
.fr{float: right;}
/**header begin***/
.header{ height: 36px; line-height: 36px; text-align: right; color: #999;}
.marL40{ margin-left:40px; }
.had_log{ color: #608099; font-size: 13px;}
.had_log i{ margin-left: 5px;}
/**header end***/
/**index begin***/
.adv{ margin-bottom: 30px;}
.adv .logo{ margin-top: 12px;}
.product_list{ margin-top: 30px; width: 1200px; overflow:hidden;}
.product_list li{ float: left; width: 216px; border:2px solid #fff; margin-right: 20px; height: 292px; margin-bottom: 22px;}
.product_list li>a{ display: block;border: 1px solid #DEE4EC;height: 290px;}
.product_list li:hover,.product_list li:hover a{border-color:#2D70B3; }
.product_list li img{width: 202px;height: 202px;margin: 10px auto 0; display: block;}
.w202{ width: 202px; margin: 0 auto;}
.price{ color: #BF2638; line-height: 22px; font-size: 14px; font-family: Arial; font-weight: bold;}
.pro_title{font-size: 12px; color: #30404E; line-height: 22px;}
.tmall{ font-size: 12px; color: #71777A; line-height: 22px;}
.pro_comment{ color: #C5D7E0; font-size: 12px;}
/**search**/
.search{ height: 54px; border:1px solid #DEE4EC;}
.search_left{ width: 376px; border-right: 1px solid #DEE4EC; height: 100%; background-color: #F7F8FA; padding:0 0 0 20px;}
.search_left input{ width:260px; padding: 0 13px; line-height: 28px; height: 28px; border:1px solid #DEE4EC; color: #B3B3B3; font-size: 13px; margin-top: 12px; }
.search_left input:focus{ color: #333;}
.search_left button{margin-top: 12px; border-radius: 2px; cursor: pointer; margin-left: 8px; display:inline-block;width:62px; border: none; height: 30px; background-color: #247ADD; text-align: center; line-height: 30px;padding: 0; color: #fff;}
.search-right{padding-left: 20px; width: 760px; line-height: 54px; font-size: 13px; color: #D6915F;}
.search-right a{ color:#4A90E2; text-decoration: underline}
/**footer begin***/
.footer{height: 77px; line-height: 77px; text-align: center; color: #808080;}
.footer i{ margin:0  6px 0 15px;}
/**footer end***/
/**login begin**/
.log{background-color: #F7F8FA; height: 732px; padding-top: 155px; }
.log_left{width: 598px; float: left; height: 340px; position: relative;}
.log_left img{ position: absolute; right: 80px; top: 130px;}
.log_right{ float: right; width: 520px;padding-right: 60px; height: 340px; border:1px solid #C5D7E0; background-color: #fff; border-radius: 1px; box-shadow: 0 2px 3px rgba(0,0,0,0.2); padding-top: 50px;}
.log_form label{display: inline-block; width: 124px; padding-right: 28px; text-align: right; font-size: 16px; line-height: 32px; color: #71777A;}
.log_form{ margin-bottom: 18px;}
.log_form input{ width: 334px; font-size: 16px; color: #30404E; height: 30px; line-height: 30px;border: 1px solid #DEE4EC; padding: 0 14px;}
.log_form input:focus{border-color: #6098D8;}
.form_tip{ padding-left: 152px; font-size: 13px; color: #999; line-height: 18px; margin-top: 30px;}
.form_btn{ margin-top: 50px;}
.form_btn .reg{ border:none; display: block; float: right; width: 90px; height: 42px; background-color: #247ADD; color: #fff; text-align: center; line-height: 42px; cursor: pointer; font-size: 16px; border-radius: 3px;}
.form_btn a{ float: right; margin-right: 50px; line-height: 42px; font-size: 13px; color: #30404E}
/***login end**/

/***page begin***/
.page{ text-align: center;}
.page span,.page a{display: inline-block; width: 28px; height: 28px; border: 1px solid #F2F2F2; line-height: 28px; font-size: 13px; color: #608099;border-radius: 2px;margin-right: 2px;}

.page a:hover{ background-color: #F2F2F2; border-color: #F2F2F2;}
.page a.cur{ border-color:#4A90E2; background-color: #4A90E2; color: #fff; }
/***page end***/


/***center begin**/
.center_head{border-bottom: 2px solid #DEE4EC; line-height: 62px;}
.center_head img{ vertical-align: middle}
.center_head_text{ font-size: 22px; margin-left: 50px; color: #71777A; vertical-align: middle}
.bread_nav{ height: 40px; line-height: 40px; font-size: 13px}
.bread_nav span{ color: #71777A; margin:0 8px;}
/**center left**/
.center_left{ width: 180px; background-color: #F7F8FA; padding: 10px 0 80px 20px; float: left }
.center_list li{ line-height:40px; height: 40px; font-size: 14px;}
.center_list li span{ display: inline-block; width: 20px; height: 20px; background-color: #F0BE6C; color: #fff; text-align: center; border-radius: 50%; margin-left: 10px; vertical-align: middle; line-height: 20px;}
.center_list li a{ color: #30404E; font-family: "Microsoft YaHei", "SimSun", Arial, Helvetica, sans-serif}
.center_list li a:hover{color:#247ADD}
.center_list li.cur a{ font-weight: bold;}
/**center right**/
.center_right{ margin-left: 40px; float: left; width: 940px; padding-top: 20px;}
.center_form{ margin-bottom:18px; }
.center_form label{ padding-left: 20px; vertical-align: middle; width: 80px; display: inline-block; line-height: 34px; font-size: 14px; font-family: "Microsoft YaHei", "SimSun", Arial, Helvetica, sans-serif; color: #71777A; font-weight: normal; margin-bottom: 0;}
.center_form input{ border:1px solid #DEE4EC; font-size: 14px; width: 440px; line-height: 32px; height: 32px; padding:  0 9px;}
.center_form input:focus{ border-color: #6098D8}
.edit_save{ padding-left: 484px; margin-top: 60px;}
.myself_btn{ width: 76px;padding: 0; color: #fff; border-radius:2px;font-size: 14px; height: 32px; border:none; background-color: #247ADD; line-height: 32px; text-align: center; display: block;}
/***center end***/